<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545186934489-rrsn5a7unh3dq8l9kq9r3s923p6je4ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545186934489-rrsn5a7unh3dq8l9kq9r3s923p6je4ke</string>
	<key>API_KEY</key>
	<string>AIzaSyBzTrlPgtSbKhmhloIFkPKkGkapufsQ5ss</string>
	<key>GCM_SENDER_ID</key>
	<string>545186934489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gb.vk-withoutStoryboard</string>
	<key>PROJECT_ID</key>
	<string>gb-vk-335c6</string>
	<key>STORAGE_BUCKET</key>
	<string>gb-vk-335c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:545186934489:ios:00376330c595896e9e98c8</string>
</dict>
</plist>
